In [3]:
#Ejercicios Pandas

#Crear un dataframe a partir del dictionario q se encuentra
#al final de esta pagina
import pandas as pd

d = {"Product":{"0":"Desktop Computer","1":"Tablet","2":"iPhone",
    "3":"Laptop"},"Price":{"0":700,"1":250,"2":800,"3":1200}}

df = pd.DataFrame(data=d)

print(df)

            Product  Price
0  Desktop Computer    700
1            Tablet    250
2            iPhone    800
3            Laptop   1200

In [4]:
#2.Se podria si la llave fuera int y no str?
#R: No, porque traería otros datos

#3. Ver los primeros 5 registros del dataframe

df.head()

            Product  Price
0  Desktop Computer    700
1            Tablet    250
2            iPhone    800
3            Laptop   1200

In [5]:
#4.Ver los ultimos 10 registros del dataframe
df.tail()

            Product  Price
0  Desktop Computer    700
1            Tablet    250
2            iPhone    800
3            Laptop   1200

In [10]:
#5.Mostrar las columnas del dataframe

list(df.columns)

['Product', 'Price']

In [ ]:
#6.Transformar la columna de posicion a un arreglo de numpy

In [11]:
#7.Mostrar estadistica descriptiva de los valores

df.describe()

             Price
count     4.000000
mean    737.500000
std     390.245649
min     250.000000
25%     587.500000
50%     750.000000
75%     900.000000
max    1200.000000

In [14]:
#8. Ordenar valores alfabeticamente

df.sort_values('Product')

            Product  Price
0  Desktop Computer    700
3            Laptop   1200
1            Tablet    250
2            iPhone    800

In [15]:
#9.Guardar valores a un csv

df.to_csv(index=False)

'Product,Price\nDesktop Computer,700\nTablet,250\niPhone,800\nLaptop,1200\n'

In [17]:
#10.Cargar algun excel de los disponibles en GDrive
df2= pd.read_excel('Chapter 13Voter-Persuasion-solution-full.xlsx', index_col=0)

In [ ]:
#11.Cortar un dataframe de 3x4 a partir del anterior 

df3 =

In [36]:
#12.Cargar el json q se encuentra al final de esta pagina
df.to_json(orient='values')
'[["1":"Santos Laguna"],["2":"León"],["3":"Tigres"],["4":"Querétaro"],["5":"Necaxa"],["6":"América"],["7":":Monarcas Morelia"],["8":"Monterrey"],["9":"Pachuca"],["10":"Chivas"],["11":"Club Tijuana"],["12":"Cruz Azul"],["13":"Pumas UNAM"],["14":"Atlas"],["15":"Atlético San Luis"],["16":"FC Juárez"],["17":"Toluca"],["18":"Puebla"],["19":"Veracruz"]]'

'[["1":"Santos Laguna"],["2":"León"],["3":"Tigres"],["4":"Querétaro"],["5":"Necaxa"],["6":"América"],["7":":Monarcas Morelia"],["8":"Monterrey"],["9":"Pachuca"],["10":"Chivas"],["11":"Club Tijuana"],["12":"Cruz Azul"],["13":"Pumas UNAM"],["14":"Atlas"],["15":"Atlético San Luis"],["16":"FC Juárez"],["17":"Toluca"],["18":"Puebla"],["19":"Veracruz"]]'

In [38]:
#13.Imprimir dataframe resultante del json
df4 = df.to_json(orient='index')


df4

'{"0":{"Product":"Desktop Computer","Price":700},"1":{"Product":"Tablet","Price":250},"2":{"Product":"iPhone","Price":800},"3":{"Product":"Laptop","Price":1200}}'

In [42]:
#14.Guardar a un XLS
df.to_excel("ClaseProgra.xlsx")

In [47]:
#15.Cargar el resultado de este ws en un dataframe https://api.exchangeratesapi.io/latest e imprimirlo

import json 
a = pd.read_json('https://api.exchangeratesapi.io/latest')
print (a)

           rates base       date
AUD      1.63840  EUR 2020-02-24
BGN      1.95580  EUR 2020-02-24
BRL      4.74740  EUR 2020-02-24
CAD      1.43720  EUR 2020-02-24
CHF      1.06000  EUR 2020-02-24
CNY      7.61020  EUR 2020-02-24
CZK     25.18600  EUR 2020-02-24
DKK      7.46990  EUR 2020-02-24
GBP      0.83833  EUR 2020-02-24
HKD      8.43240  EUR 2020-02-24
HRK      7.46500  EUR 2020-02-24
HUF    337.61000  EUR 2020-02-24
IDR  15098.95000  EUR 2020-02-24
ILS      3.72080  EUR 2020-02-24
INR     77.82650  EUR 2020-02-24
ISK    139.30000  EUR 2020-02-24
JPY    120.52000  EUR 2020-02-24
KRW   1319.20000  EUR 2020-02-24
MXN     20.72340  EUR 2020-02-24
MYR      4.57280  EUR 2020-02-24
NOK     10.13280  EUR 2020-02-24
NZD      1.70950  EUR 2020-02-24
PHP     55.24800  EUR 2020-02-24
PLN      4.29890  EUR 2020-02-24
RON      4.80630  EUR 2020-02-24
RUB     70.66750  EUR 2020-02-24
SEK     10.58330  EUR 2020-02-24
SGD      1.51640  EUR 2020-02-24
THB     34.33600  EUR 2020-02-24
TRY      6.65990  EUR 2020-02-24
USD      1.08180  EUR 2020-02-24
ZAR     16.35920  EUR 2020-02-24